.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image {
    margin: 10px;
  }
  
  .image img {
    max-width: 50%;
    height: auto;
  }